/* INDEX */

body {
    background-image: url('./../img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: black;
    text-align: center;
    margin: auto;
}

.container{
    margin-top: 20px !important;
}

.image{
    width: 200px !important;
    height: 100%;
}

.mt{
    margin-top: 50px !important;
}

/*END OF INDEX*/

/* NAVBAR */
.avatar{
    width: 220px; 
    height: 80px;
}

.header {
    min-height: 15vh;
}

nav{
    padding: 0 !important;
}

.nav-link{
    color: black !important;
    padding: 25px 30px !important;
}

.nav-link:hover{
    background-color: rgba(250, 184, 244, 0.808);
    /* border-radius: 5px; */
    color: gray !important;
}

.active{
    background-color: rgba(250, 184, 244, 0.808);
    /* border-radius: 5px; */
    color: gray !important;
}

.navbar-toggler{
    background-color: white !important;
}

.header .navbar {
    background-color: transparent !important;
}

.navbar-left{
    margin-left: auto;
}

/* END OF NAVBAR */